In [1]:
import seaborn as sns

df = sns.load_dataset('titanic')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [3]:
nan_deck = df['deck'].value_counts(dropna = False)
print(nan_deck)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [5]:
print(df.head().isnull())

   survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
0     False   False  False  False  False  False  False     False  False
1     False   False  False  False  False  False  False     False  False
2     False   False  False  False  False  False  False     False  False
3     False   False  False  False  False  False  False     False  False
4     False   False  False  False  False  False  False     False  False

     who  adult_male   deck  embark_town  alive  alone
0  False       False   True        False  False  False
1  False       False  False        False  False  False
2  False       False   True        False  False  False
3  False       False  False        False  False  False
4  False       False   True        False  False  False

In [6]:
print(df.head().notnull())

   survived  pclass   sex   age  sibsp  parch  fare  embarked  class   who  \
0      True    True  True  True   True   True  True      True   True  True
1      True    True  True  True   True   True  True      True   True  True
2      True    True  True  True   True   True  True      True   True  True
3      True    True  True  True   True   True  True      True   True  True
4      True    True  True  True   True   True  True      True   True  True

   adult_male   deck  embark_town  alive  alone
0        True  False         True   True   True
1        True   True         True   True   True
2        True  False         True   True   True
3        True   True         True   True   True
4        True  False         True   True   True

In [9]:
print(df.isnull().sum(axis=0))

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
missing_df = df.isnull()

for col in missing_df.columns:
    missing_count = missing_df[col].value_counts()
    
    try:
        print(col, ":",missing_count[True])
    except:
        print(col, ":", 0)

# NaN 값이 500개 이상인 열을 모두 삭제
df_thresh = df.dropna(axis=1, thresh = 500)
print(df_thresh.columns)

survived : 0
pclass : 0
sex : 0
age : 177
sibsp : 0
parch : 0
fare : 0
embarked : 2
class : 0
who : 0
adult_male : 0
deck : 688
embark_town : 2
alive : 0
alone : 0
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [13]:
# age 열에 나이 데이터가 없는 모든 행 삭제 
df_age = df.dropna(subset=['age'], how='any', axis = 0)
print(len(df_age))

714